### Group members: Niharika Rasthapuram, Tyler Blankenship, Kao Takahama, Tyler Selby, Zach Seitz, Safal Lamichhane 

### Due Date: 3/5/23

### Using what we have learned in Unit5 of Pandas to analyze SP500.csv file with Series and DataFrame operations. Please find answers to the following questions:
    
### 1) Generate a brief statistic summary for corresponding data

In [16]:
import pandas as pd

# read in the data from .csv file
data = pd.read_csv('SP500.csv')

# use .describe() method to print statistics for the data
print(data.describe())
print('')

               Open          High           Low         Close     Adj Close  \
count  17191.000000  17191.000000  17191.000000  17191.000000  17191.000000
mean     546.966024    550.229233    543.522697    547.091391    547.091391
std      643.238592    646.567762    639.645155    643.342927    643.342927
min       16.660000     16.660000     16.660000     16.660000     16.660000
25%       85.419998     86.130001     84.760002     85.424999     85.424999
50%      164.369995    165.050003    163.710007    164.289993    164.289993
75%     1073.684998   1082.705017   1065.224976   1073.669983   1073.669983
max     2867.229980   2872.870117   2851.479980   2872.870117   2872.870117

             Volume
count  1.719100e+04
mean   8.945411e+08
std    1.531001e+09
min    6.800000e+05
25%    8.685000e+06
50%    8.794000e+07
75%    1.110950e+09
max    1.145623e+10

### 2) Sort daily gain/loss for January of 2018 and store the result back to a .csv file

In [17]:
import pandas as pd

# read in the data from .csv file
data = pd.read_csv('SP500.csv')

# convert the values in the date column to pandas datetime values
data['Date'] = pd.to_datetime(data['Date'])

# find gain/loss
open_price = data['Open']
closing_price = data['Close']
gain_loss = (open_price - closing_price)

# add a column for gain/loss to the original dataframe
data['Gain/Loss'] = gain_loss

# create a new dataframe by making a copy of only the date and gain/loss columns from the old dataframe
dailyGL = data[['Date', 'Gain/Loss']].copy()
dailyGL.set_index('Date', inplace=True)
dailyGL.sort_values(by='Date', ascending = True, inplace = True)

# final dataframe containing only the month of Jan 2018 which will be made into .csv file
jan18GL = dailyGL.loc['2018-01-01':'2018-01-31']
print(jan18GL)

# use the new dataframe to create a new .csv file
jan18GL.to_csv('Jan2018GL')

            Gain/Loss
Date
2018-01-02 -12.080079
2018-01-03 -15.209961
2018-01-04  -4.679931
2018-01-05 -11.819824
2018-01-08  -5.040039
2018-01-09  -0.140137
2018-01-10  -2.679931
2018-01-11 -14.590088
2018-01-12 -16.060058
2018-01-16  22.540039
2018-01-17 -17.570069
2018-01-18   4.369873
2018-01-19  -7.699951
2018-01-22 -23.810059
2018-01-23  -4.079834
2018-01-24   7.879883
2018-01-25   6.989990
2018-01-26 -25.390137
2018-01-29  13.699951
2018-01-30  10.310058
2018-01-31   8.599853

### 3) Find all of the daily gains reach 20% and above and display them

In [7]:
import pandas as pd

df = pd.read_csv('SP500.csv')

# Calculate the daily percent change in the Close column
df['Percent Change'] = df['Close'].pct_change() * 100

# Filter rows where the percent change is >= 10% but i took 10 because 20% gives empty dataframe
large_gains = df.loc[df['Percent Change'] >= 10]

# Display the filtered DataFrame
print(large_gains)

             Date        Open         High        Low        Close  \
14789  2008-10-13  912.750000  1006.929993  912.75000  1003.349976
14800  2008-10-28  848.919983   940.510010  845.27002   940.510010

         Adj Close      Volume  Percent Change
14789  1003.349976  7263370000       11.580037
14800   940.510010  7096950000       10.789006

### 4) the highest daily gain and its date, the highest daily loss and its date,

In [8]:
# Need to calculate Percentage change again but the data is already available from previous Question
# df['Percent Change'] = df['Close'].pct_change() * 100

# Find the row with the highest percent change (i.e., highest daily gain)
highest_gain_row = df.loc[df['Percent Change'].idxmax()]

# Find the row with the lowest percent change (i.e., highest daily loss)
highest_loss_row = df.loc[df['Percent Change'].idxmin()]

# Print the date and percent change for the highest daily gain and loss
print(f'Highest daily gain: {highest_gain_row["Date"]} ({highest_gain_row["Percent Change"]:.2f}%)')
print(f'Highest daily loss: {highest_loss_row["Date"]} ({highest_loss_row["Percent Change"]:.2f}%)')

Highest daily gain: 2008-10-13 (11.58%)
Highest daily loss: 1987-10-19 (-20.47%)

### 5) the most daily transaction volume and its date,

In [9]:
import pandas as pd

df = pd.read_csv('SP500.csv')

max_vol_daily = df['Volume'].idxmax()

print(f"The highest daily volume was {df.iloc[max_vol_daily][-1]} on {df.iloc[max_vol_daily][0]}")

The highest daily volume was 11456230000 on 2008-10-10

### 6) a monthly report for year 2017-2018, which has monthly average open price, close price, transaction volume and gain/loss, and a query to find all of the months which have certain range of open prices

In [10]:
import pandas as pd

def group_by_month(csv, year_start, year_end):
    """Group CSV records by month, beginning at year_start and ending at year_end.
    CSV must include a date column.
    Year_start and year_end can be integers or strings.
    """
    df = pd.read_csv(csv)
    
    # Cast to ints and add 1 to year_end (for indexing)
    if type(year_start) != int or type(year_end) != int:
        year_start = int(year_start)
        year_end - int(year_end) + 1
    
    # Convert date string into datatime objects and set as index (for grouping)
    df["Date"] = pd.to_datetime(df["Date"])
    df.set_index("Date", inplace=True)
    
    # Get data for specified date range
    years = df.loc[str(year_start): str(year_end + 1)]
    
    # Group by month
    months = years.groupby(pd.Grouper(freq="M"))
    
    return months

def query(csv, open_start, open_end, year_start=1950, year_end=2023):
    """Query the csv for the all months in which the avg opening price
    is between open_start (lower bound) and open_end (upper bound).
    """
    df = pd.read_csv(csv)
    
    # Query for results between specified open prices
    df.query(f'Open > {open_start} and  Open < {open_end}', inplace=True)
    # Convert date string into datatime objects and set as index (for grouping)
    df["Date"] = pd.to_datetime(df["Date"])
    df.set_index("Date", inplace=True)
    
    # Group results by month
    months = df.groupby(pd.Grouper(freq="M"))
    return months
#     return [key.date() for key, item in months]


#### Get average monthly values ####
months = group_by_month("SP500.csv", 2017, 2018)

data = {"Avg Monthly Open": months["Open"].mean(),
        "Avg Monthly Close": months["Close"].mean(),
        "Avg Monthly Volume": months["Volume"].mean(),
        "Avg Monthly Gain/Loss": (months.apply(lambda x: x['Adj Close'] - x['Open'])).groupby('Date').mean()
       }

# Amalgamate data, print
report = pd.concat(data, axis=1)
print(f"Monthly report:\n{report}\n\n")


#### Query for open prices in range 1500-2000 ####
print("The following months have an average open price between 1500 and 2000:\n")
results = query('SP500.csv', 1500, 2000)

for key, item in results:
    print(key.date(), end="   ")

Monthly report:
            Avg Monthly Open  Avg Monthly Close  Avg Monthly Volume  \
Date
2017-01-31       2273.531970        2275.115979        3.524159e+09
2017-02-28       2325.585282        2329.910542        3.640127e+09
2017-03-31       2366.868705        2366.822170        3.545555e+09
2017-04-30       2360.150005        2359.309455        3.435035e+09
2017-05-31       2394.470004        2395.345881        3.618508e+09
2017-06-30       2434.683605        2433.985451        3.681931e+09
2017-07-31       2453.039490        2454.102502        3.158470e+09
2017-08-31       2456.749968        2456.223070        3.070262e+09
2017-09-30       2491.332495        2492.841040        3.316899e+09
2017-10-31       2555.807273        2556.997270        3.221435e+09
2017-11-30       2590.306164        2593.605736        3.484441e+09
2017-12-31       2666.069995        2664.340527        3.262560e+09
2018-01-31       2785.686651        2789.803816        3.660006e+09
2018-02-28       2710.269467        2705.155248        4.188390e+09
2018-03-31       2707.860003        2702.773821        3.635705e+09
2018-04-30       2656.397986        2653.903967        3.295703e+09

            Avg Monthly Gain/Loss
Date
2017-01-31               1.584009
2017-02-28               4.325260
2017-03-31              -0.046535
2017-04-30              -0.840550
2017-05-31               0.875877
2017-06-30              -0.698153
2017-07-31               1.063013
2017-08-31              -0.526898
2017-09-30               1.508545
2017-10-31               1.189997
2017-11-30               3.299572
2017-12-31              -1.729468
2018-01-31               4.117164
2018-02-28              -5.114219
2018-03-31              -5.086182
2018-04-30              -2.494018


The following months have an average open price between 1500 and 2000:

2000-03-31   2000-04-30   2000-05-31   2000-06-30   2000-07-31   2000-08-31   2000-09-30   2000-10-31   2000-11-30   2000-12-31   2001-01-31   2001-02-28   2001-03-31   2001-04-30   2001-05-31   2001-06-30   2001-07-31   2001-08-31   2001-09-30   2001-10-31   2001-11-30   2001-12-31   2002-01-31   2002-02-28   2002-03-31   2002-04-30   2002-05-31   2002-06-30   2002-07-31   2002-08-31   2002-09-30   2002-10-31   2002-11-30   2002-12-31   2003-01-31   2003-02-28   2003-03-31   2003-04-30   2003-05-31   2003-06-30   2003-07-31   2003-08-31   2003-09-30   2003-10-31   2003-11-30   2003-12-31   2004-01-31   2004-02-29   2004-03-31   2004-04-30   2004-05-31   2004-06-30   2004-07-31   2004-08-31   2004-09-30   2004-10-31   2004-11-30   2004-12-31   2005-01-31   2005-02-28   2005-03-31   2005-04-30   2005-05-31   2005-06-30   2005-07-31   2005-08-31   2005-09-30   2005-10-31   2005-11-30   2005-12-31   2006-01-31   2006-02-28   2006-03-31   2006-04-30   2006-05-31   2006-06-30   2006-07-31   2006-08-31   2006-09-30   2006-10-31   2006-11-30   2006-12-31   2007-01-31   2007-02-28   2007-03-31   2007-04-30   2007-05-31   2007-06-30   2007-07-31   2007-08-31   2007-09-30   2007-10-31   2007-11-30   2007-12-31   2008-01-31   2008-02-29   2008-03-31   2008-04-30   2008-05-31   2008-06-30   2008-07-31   2008-08-31   2008-09-30   2008-10-31   2008-11-30   2008-12-31   2009-01-31   2009-02-28   2009-03-31   2009-04-30   2009-05-31   2009-06-30   2009-07-31   2009-08-31   2009-09-30   2009-10-31   2009-11-30   2009-12-31   2010-01-31   2010-02-28   2010-03-31   2010-04-30   2010-05-31   2010-06-30   2010-07-31   2010-08-31   2010-09-30   2010-10-31   2010-11-30   2010-12-31   2011-01-31   2011-02-28   2011-03-31   2011-04-30   2011-05-31   2011-06-30   2011-07-31   2011-08-31   2011-09-30   2011-10-31   2011-11-30   2011-12-31   2012-01-31   2012-02-29   2012-03-31   2012-04-30   2012-05-31   2012-06-30   2012-07-31   2012-08-31   2012-09-30   2012-10-31   2012-11-30   2012-12-31   2013-01-31   2013-02-28   2013-03-31   2013-04-30   2013-05-31   2013-06-30   2013-07-31   2013-08-31   2013-09-30   2013-10-31   2013-11-30   2013-12-31   2014-01-31   2014-02-28   2014-03-31   2014-04-30   2014-05-31   2014-06-30   2014-07-31   2014-08-31   2014-09-30   2014-10-31   2014-11-30   2014-12-31   2015-01-31   2015-02-28   2015-03-31   2015-04-30   2015-05-31   2015-06-30   2015-07-31   2015-08-31   2015-09-30   2015-10-31   2015-11-30   2015-12-31   2016-01-31   2016-02-29   2016-03-31

### 7) a yearly report which has annual average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable year,

In [11]:
import pandas as pd

def group_by_year(csv, year_start, year_end):
    df = pd.read_csv(csv)
    
    # Cast to ints and add 1 to year_end (for indexing)
    if type(year_start) != int or type(year_end) != int:
        year_start = int(year_start)
        year_end - int(year_end) + 1
    
    # Convert date string into datatime objects and set as index (for grouping)
    df["Date"] = pd.to_datetime(df["Date"])
    df.set_index("Date", inplace=True)
    
    # Get data for specified date range
    years = df.loc[str(year_start): str(year_end + 1)]
    
    # Group by year
    period = years.groupby(pd.Grouper(freq="Y"))
    
    return period

period = group_by_year("SP500.csv", 1950, 2018)

data = {"Avg Yearly Open": period["Open"].mean(),
        "Avg Yearly Close": period["Close"].mean(),
        "Avg Yearly Volume": period["Volume"].mean(),
        "Avg Yearly Gain/Loss": (period.apply(lambda x: x['Adj Close'] - x['Open'])).groupby('Date').mean()
       }

# Amalgamate data, print
report = pd.concat(data, axis=1)
print(f"Yearly report:\n{report}\n\n")

Yearly report:
            Avg Yearly Open  Avg Yearly Close  Avg Yearly Volume  \
Date
1950-12-31        18.397269         18.397269       2.009237e+06
1951-12-31        22.321888         22.321888       1.717590e+06
1952-12-31        24.496160         24.496160       1.308160e+06
1953-12-31        24.722590         24.722590       1.413147e+06
1954-12-31        29.724087         29.724087       2.269762e+06
...                     ...               ...                ...
2014-12-31      1930.754485       1931.376110       3.354783e+09
2015-12-31      2061.268016       2061.067741       3.655629e+09
2016-12-31      2094.091550       2094.651264       3.905232e+09
2017-12-31      2448.275888       2449.076379       3.412303e+09
2018-12-31      2715.895794       2713.829129       3.687696e+09

            Avg Yearly Gain/Loss
Date
1950-12-31              0.000000
1951-12-31              0.000000
1952-12-31              0.000000
1953-12-31              0.000000
1954-12-31              0.000000
...                          ...
2014-12-31              0.621625
2015-12-31             -0.200275
2016-12-31              0.559714
2017-12-31              0.800491
2018-12-31             -2.066665

[69 rows x 4 columns]

### 8) a every other five year report which has every five year average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable five year,

In [12]:
import pandas as pd

def group_by_5Y(csv, year_start, year_end):
    
    df = pd.read_csv(csv)
    
    # Cast to ints and add 1 to year_end (for indexing)
    if type(year_start) != int or type(year_end) != int:
        year_start = int(year_start)
        year_end - int(year_end) + 1
    
    # Convert date string into datatime objects and set as index (for grouping)
    df["Date"] = pd.to_datetime(df["Date"])
    df.set_index("Date", inplace=True)
    
    # Get data for specified date range
    years = df.loc[str(year_start): str(year_end + 1)]
    
    # Group by 5Y period
    period = years.groupby(pd.Grouper(freq="5Y"))
    
    return period

period = group_by_5Y("SP500.csv", 1950, 2018)

data = {"Avg 5Y Open": period["Open"].mean(),
        "Avg 5Y Close": period["Close"].mean(),
        "Avg 5Y Volume": period["Volume"].mean(),
        "Avg 5Y Gain/Loss": (period.apply(lambda x: x['Adj Close'] - x['Open'])).groupby('Date').mean()
       }

# Amalgamate data, print
report = pd.concat(data, axis=1)
print(f"5Y report:\n{report}\n\n")

5Y report:
            Avg 5Y Open  Avg 5Y Close  Avg 5Y Volume  Avg 5Y Gain/Loss
Date
1950-12-31    18.397269     18.397269   2.009237e+06          0.000000
1955-12-31    28.376188     28.376188   1.857935e+06          0.000000
1960-12-31    50.114611     50.114611   2.736270e+06          0.000000
1965-12-31    73.601836     73.616121   4.707107e+06          0.014285
1970-12-31    91.113033     91.114550   1.066547e+07          0.001517
1975-12-31    96.747147     96.742029   1.608932e+07         -0.005119
1980-12-31   103.580863    103.618290   2.957275e+07          0.037427
1985-12-31   151.010736    151.073433   7.949703e+07          0.062698
1990-12-31   289.269027    289.363798   1.627407e+08          0.094771
1995-12-31   448.801242    449.028164   2.565800e+08          0.226922
2000-12-31  1075.435091   1075.990895   6.898599e+08          0.555804
2005-12-31  1097.989380   1097.938520   1.478513e+09         -0.050860
2010-12-31  1218.753391   1218.863129   4.162387e+09          0.109738
2015-12-31  1656.565086   1657.088005   3.622007e+09          0.522919
2020-12-31  2332.561434   2332.860358   3.663202e+09          0.298924

### Using what we have learned in Unit5 of Pandas to analyze Sacramentorealestatetransactions.csv file with Series and DataFrame operations. Please find answers to the following questions:

### 9) Regroup the data first by city name, then by type

In [13]:
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('Sacramentorealestatetransactions.csv')

# we can use dataframe like this to group by state and by type
groups = df.groupby(['city', 'type'])

# To print the mean price for each city and type
print(groups['price'].mean())

city             type
ANTELOPE         Condo           115000.000000
                 Residential     236168.156250
AUBURN           Condo           260000.000000
                 Multi-Family    285000.000000
                 Residential     494818.000000
CAMERON PARK     Condo           119000.000000
                 Residential     286562.500000
CARMICHAEL       Condo           190544.666667
                 Residential     314238.882353
CITRUS HEIGHTS   Condo            92625.000000
                 Multi-Family    256054.000000
                 Residential     190866.187500
COOL             Residential     300000.000000
DIAMOND SPRINGS  Residential     216033.000000
EL DORADO        Residential     247000.000000
EL DORADO HILLS  Residential     491698.956522
ELK GROVE        Condo           114666.666667
                 Residential     279851.638889
ELVERTA          Residential     132866.000000
FAIR OAKS        Condo           142500.000000
                 Residential     323625.750000
FOLSOM           Condo           240000.000000
                 Residential     425895.187500
FORESTHILL       Residential     194818.000000
GALT             Residential     236943.428571
GARDEN VALLEY    Residential     490000.000000
GOLD RIVER       Condo           300000.000000
                 Residential     377333.333333
GRANITE BAY      Residential     678733.333333
GREENWOOD        Residential     395000.000000
LINCOLN          Condo           163000.000000
                 Residential      94640.385714
LOOMIS           Residential     567000.000000
MATHER           Residential     237800.000000
MEADOW VISTA     Residential     230000.000000
NORTH HIGHLANDS  Residential     135659.333333
ORANGEVALE       Residential     279159.545455
PENRYN           Residential     506688.000000
PLACERVILLE      Residential     363863.400000
POLLOCK PINES    Residential     240302.666667
RANCHO CORDOVA   Condo            94905.000000
                 Multi-Family    236000.000000
                 Residential     270940.807692
RANCHO MURIETA   Residential     297750.000000
RIO LINDA        Residential     172727.615385
ROCKLIN          Residential     381835.823529
ROSEVILLE        Condo           192071.428571
                 Residential     347142.829268
SACRAMENTO       Condo           137690.703704
                 Multi-Family    214189.700000
                 Residential     201359.584577
SHINGLE SPRINGS  Unkown          275000.000000
SLOUGHHOUSE      Residential       2000.000000
WALNUT GROVE     Residential     380000.000000
WEST SACRAMENTO  Residential     170700.000000
WILTON           Residential     617508.400000
Name: price, dtype: float64

### 10) For each city, each type, find the highest, median and lowest transactions

In [14]:
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('Sacramentorealestatetransactions.csv')

# Group the data first by city name, then by type, and calculate
# the highest, median, and lowest transactions for each group
group = df.groupby(['city', 'type'])['price'].agg(['max', 'median', 'min'])

# Print the result
print(group)

                                 max    median     min
city            type
ANTELOPE        Condo         115000  115000.0  115000
                Residential   408431  232600.0  126640
AUBURN          Condo         260000  260000.0  260000
                Multi-Family  285000  285000.0  285000
                Residential   560000  504000.0  420454
CAMERON PARK    Condo         119000  119000.0  119000
                Residential   425000  219750.0  195000
CARMICHAEL      Condo         250134  182000.0  139500
                Residential   668365  266000.0  181872
CITRUS HEIGHTS  Condo         116250   92625.0   69000
                Multi-Family  256054  256054.0  256054
                Residential   305000  191268.0   30000
COOL            Residential   300000  300000.0  300000
DIAMOND SPRINGS Residential   216033  216033.0  216033
EL DORADO       Residential   289000  247000.0  205000
EL DORADO HILLS Residential   879000  471000.0  235738
ELK GROVE       Condo         145000  116500.0   71000
                Residential   510000  258000.0  152000
ELVERTA         Residential   140000  132732.0  126000
FAIR OAKS       Condo         142500  142500.0  142500
                Residential   680000  258006.5  185000
FOLSOM          Condo         240000  240000.0  240000
                Residential   636000  443500.0  200000
FORESTHILL      Residential   194818  194818.0  194818
GALT            Residential   420000  220000.0  106716
GARDEN VALLEY   Residential   490000  490000.0  490000
GOLD RIVER      Condo         300000  300000.0  300000
                Residential   528000  305000.0  299000
GRANITE BAY     Residential   760000  676200.0  600000
GREENWOOD       Residential   395000  395000.0  395000
LINCOLN         Condo         188000  163000.0  138000
                Residential   512000    4897.0    1551
LOOMIS          Residential   839000  567000.0  295000
MATHER          Residential   237800  237800.0  237800
MEADOW VISTA    Residential   230000  230000.0  230000
NORTH HIGHLANDS Residential   224252  129000.0   63000
ORANGEVALE      Residential   475000  252155.0  183200
PENRYN          Residential   506688  506688.0  506688
PLACERVILLE     Residential   677048  325000.0  205000
POLLOCK PINES   Residential   280908  265000.0  175000
RANCHO CORDOVA  Condo          94905   94905.0   94905
                Multi-Family  236000  236000.0  236000
                Residential   430000  281028.0  115000
RANCHO MURIETA  Residential   425000  370500.0   97750
RIO LINDA       Residential   300000  164000.0   30000
ROCKLIN         Residential   600000  370000.0  230095
ROSEVILLE       Condo         350000  170000.0  115000
                Residential   614000  326951.0  160000
SACRAMENTO      Condo         360000  110700.0   40000
                Multi-Family  416767  187290.0  100000
                Residential   699000  180000.0   55422
SHINGLE SPRINGS Unkown        275000  275000.0  275000
SLOUGHHOUSE     Residential     2000    2000.0    2000
WALNUT GROVE    Residential   380000  380000.0  380000
WEST SACRAMENTO Residential   200100  165000.0  147000
WILTON          Residential   884790  579093.0  372000

### 11) For each zipcode and each type, find average transactions

In [15]:
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('Sacramentorealestatetransactions.csv')

# Group the data first by zip code, then by type, and calculate
# the average transaction for each group
group = df.groupby(['zip', 'type'])['price'].mean()

# Print the result
print(group)

zip    type
95603  Condo           260000.000000
       Multi-Family    285000.000000
       Residential     494818.000000
95608  Condo           190544.666667
       Residential     314238.882353
                           ...
95842  Multi-Family    179580.000000
       Residential     157920.812500
95843  Condo           115000.000000
       Residential     236168.156250
95864  Residential     364400.000000
Name: price, Length: 101, dtype: float64