### Group members: Niharika Rasthapuram, Tyler Blankenship, Kao Takahama, Tyler Selby, Zach Seitz, Safal Lamichhane 

### Due Date: 3/26/23

### BL-Flicker-Images-Book.csv file

### 1) For the Title column, only keep the title part, remove all of the other parts. If the title is inside a bracket, remove the bracket which encloses the title. If there are multiple …, only keep the words before the first one. If there are multiple periods (.), only keep words before the first one.

The following shows the sample results after the cleaning for title column:
Walter Forbes. [A novel.] By A. A ---> Walter Forbes.<br>
Love the Avenger. By the author of â€œAll for Greed.â€• [The dedication signed: A. A. A., i.e.
Marie Pauline Rose, Baroness Blaze de Bury.] ---> Love the Avenger. <br>
[The World in which I live, and my place in it. By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ...
J. H. Broome.] ---> The World in which I live, and my place in it.<br>
A Satyr against Vertue. (A poem: supposed to be spoken by a Town-Hector. [By John Oldham.
The preface signed: T. A.]) ---> A Satyr against Vertue.<br>
An Account of the many and great Loans, Benefactions and Charities, belonging to the City of
Coventry ... A new edition. [The dedication signed: AB, CD, EF, GH, &c. By Edward Jackson and
Samuel Carte.] ---> An Account of the many and great Loans, Benefactions and Charities,
belonging to the City of Coventry ...<br>

In [122]:
import pandas as pd

df = pd.read_csv('BL-Flickr-Images-Book.csv')

titles = df['Title']

# Create a capture group (the outside parentheses) to
# Match as many alphanumeric characters as possible (\w*) 
# Followed by any amount of whitespace (\s*)
# Followed by as many alphanumeric characters as possible (\w*) 
# Followed by as many commas as possible (,*)
# This matches the entire title, indcluding spaces and commas, 
# but without including any other punctuation or any words that follow punctuation
pattern = r'([\w*\s*\w*,*]*)'

titles = titles.str.extract(pattern)
titles

                                                      0
0                                         Walter Forbes
1                                         All for Greed
2                                      Love the Avenger
3     Welsh Sketches, chiefly ecclesiastical, to the...
4
...                                                 ...
8282    The Parochial History of Cornwall, founded on,
8283   The History and Gazetteer of the County of Derby
8284                                    Magna Britannia
8285  An historical, topographical and descriptive v...
8286            Collectanea Topographica et Genealogica

[8287 rows x 1 columns]

### 2) For the Author and Contributors columns, only keep the first author, remove all of the other parts. If the author or the contributor has other auxiliary information, remove them. title is inside a bracket, remove the bracket which encloses the title. If there are multiple …, only keep the words before the first one. If there are multiple periods (.), only keep words before the first one. For all of the names, they should only have the first letter of the first, middle and last names be capital letter, all of the remaining letters should be small case. 

The following shows the sample results after the cleaning for title column:<br>
Author<br>
A., J.|A., J. -> A., J. <br>
AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oronzo Mariano Raffaele Francesco Fortunato Felice
de Simone.] -> Aar, Ermanno <br>
Contributors:<br>
CARTE, Samuel.|JACKSON, Edward - Rector of Southam, and CARTE (Samuel) -> Carte, Samuel. <br>
After cleaning the above columns, save the cleaned data back into a new .csv file.

In [123]:
# remove everything after '-'
df['Author'] = df['Author'].str.replace(r'-.*', '')
df['Contributors'] = df['Contributors'].str.replace(r'-.*', '')

# remove everything after '|'
df['Author'] = df['Author'].str.replace(r'\|.*', '')
df['Contributors'] = df['Contributors'].str.replace(r'\|.*', '')

# capitalize the first letter of the names
df['Author'] = df['Author'].str.title()
df['Contributors'] = df['Contributors'].str.title()

# print each column to check cleaning
df['Author'], df['Contributors']

# save 
df.to_csv('clean_BL-Flickr-Images-Book.csv')

C:\Users\Tyler\AppData\Local\Temp\ipykernel_7608\448152758.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Author'] = df['Author'].str.replace(r'-.*', '')
C:\Users\Tyler\AppData\Local\Temp\ipykernel_7608\448152758.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Contributors'] = df['Contributors'].str.replace(r'-.*', '')
C:\Users\Tyler\AppData\Local\Temp\ipykernel_7608\448152758.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Author'] = df['Author'].str.replace(r'\|.*', '')
C:\Users\Tyler\AppData\Local\Temp\ipykernel_7608\448152758.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Contributors'] = df['Contributors'].str.replace(r'\|.*', '')

(0                                    A. A.
 1                                A., A. A.
 2                                A., A. A.
 3                                A., E. S.
 4                                A., E. S.
                        ...
 8282    Giddy, Afterwards Gilbert, Davies.
 8283                      Glover, Stephen
 8284                       Lysons, Daniel
 8285                 Mackenzie, E. (Eneas)
 8286                                   NaN
 Name: Author, Length: 8287, dtype: object,
 0                          Forbes, Walter.
 1       Blaze De Bury, Marie Pauline Rose
 2       Blaze De Bury, Marie Pauline Rose
 3              Appleyard, Ernest Silvanus.
 4                      Broome, John Henry.
                        ...
 8282                  Boase, Henry Samuel.
 8283                        Noble, Thomas.
 8284                     Gregson, Matthew.
 8285                             Ross, M.
 8286                   Bandinel, Bulkeley.
 Name: Contributors, Length: 8287, dtype: object)

### olympics.csv file

### 3) Drop all of the countries which don’t have gold medals, and save the cleaned one back into a new .csv file.

In [124]:
import pandas as pd

# Load the Olympics data
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

# Rename the columns to remove special characters and spaces

new_cols = ['Summer','Summer_Gold', 'Summer_Silver', 'Summer_Bronze', 'Summer_Total',
            'Winter','Winter_Gold', 'Winter_Silver', 'Winter_Bronze', 'Winter_Total',
            'Games','Games_Gold', 'Games_Silver', 'Games_Bronze', 'Games_Total']
df.columns = new_cols


# Drop all rows where the country doesnot have a single gold medals
df = df.drop(df[(df['Summer_Gold'] == 0) & (df['Winter_Gold'] == 0)].index)

# Save cleaned data to new csv file
df.to_csv('olympics_gold_only.csv')

### 4) Output the top five gold medal countries.

In [125]:

# lets load previous generates .csv file
df = pd.read_csv('olympics_gold_only.csv', index_col=0)

# Sort by 'Combined Gold' column which is Games_Gold in descending order and get top 5 rows
top_5_gold = df.sort_values('Games_Gold', ascending=False).head(5)

# Output top 5 gold medal countries
print(top_5_gold)

                                     Summer  Summer_Gold  Summer_Silver  \
Totals                                   27         4809           4775
United States (USA) [P] [Q] [R] [Z]      26          976            757
Soviet Union (URS) [URS]                  9          395            319
Germany (GER) [GER] [Z]                  15          174            182
Great Britain (GBR) [GBR] [Z]            27          236            272

                                     Summer_Bronze  Summer_Total  Winter  \
Totals                                        5130         14714      22
United States (USA) [P] [Q] [R] [Z]            666          2399      22
Soviet Union (URS) [URS]                       296          1010       9
Germany (GER) [GER] [Z]                        217           573      11
Great Britain (GBR) [GBR] [Z]                  272           780      22

                                     Winter_Gold  Winter_Silver  \
Totals                                       959            958
United States (USA) [P] [Q] [R] [Z]           96            102
Soviet Union (URS) [URS]                      78             57
Germany (GER) [GER] [Z]                       78             78
Great Britain (GBR) [GBR] [Z]                 10              4

                                     Winter_Bronze  Winter_Total  Games  \
Totals                                         948          2865     49
United States (USA) [P] [Q] [R] [Z]             84           282     48
Soviet Union (URS) [URS]                        59           194     18
Germany (GER) [GER] [Z]                         53           209     26
Great Britain (GBR) [GBR] [Z]                   12            26     49

                                     Games_Gold  Games_Silver  Games_Bronze  \
Totals                                     5768          5733          6078
United States (USA) [P] [Q] [R] [Z]        1072           859           750
Soviet Union (URS) [URS]                    473           376           355
Germany (GER) [GER] [Z]                     252           260           270
Great Britain (GBR) [GBR] [Z]               246           276           284

                                     Games_Total
Totals                                     17579
United States (USA) [P] [Q] [R] [Z]         2681
Soviet Union (URS) [URS]                    1204
Germany (GER) [GER] [Z]                      782
Great Britain (GBR) [GBR] [Z]                806

### 5) Output the countries that have all three kinds of medals for both summer and winter games. You may use previous unit learned concepts on multi-level indexing, pivoting, stacking to rearrange the original .csv file to convert summer and winter as secondary level index within the country index, and then generate a new .csv file which will have country as the primary index, then summer and winter as secondary index, and columns of gold, silver and bronze medals.

In [126]:
# Load formatted Csv file
df = pd.read_csv('olympics_gold_only.csv', index_col=0)

# Filter the dataframe to include only the countries that have all three types of medals in both summer and winter games
df_filtered = df[(df['Summer_Total'] > 0) & (df['Winter_Total'] > 0) & 
                 (df['Summer_Silver'] > 0) & (df['Winter_Silver'] > 0) &
                 (df['Summer_Bronze'] > 0) & (df['Winter_Bronze'] > 0)]

# Output the countries that meet the filter criteria
print(df_filtered.index.tolist())

['Australia (AUS) [AUS] [Z]', 'Austria (AUT)', 'Belarus (BLR)', 'Belgium (BEL)', 'Bulgaria (BUL) [H]', 'Canada (CAN)', 'China (CHN) [CHN]', 'Croatia (CRO)', 'Czech Republic (CZE) [CZE]', 'Czechoslovakia (TCH) [TCH]', 'Estonia (EST)', 'Finland (FIN)', 'France (FRA) [O] [P] [Z]', 'Germany (GER) [GER] [Z]', 'United Team of Germany (EUA) [EUA]', 'East Germany (GDR) [GDR]', 'West Germany (FRG) [FRG]', 'Great Britain (GBR) [GBR] [Z]', 'Hungary (HUN)', 'Italy (ITA) [M] [S]', 'Japan (JPN)', 'Kazakhstan (KAZ)', 'North Korea (PRK)', 'South Korea (KOR)', 'Latvia (LAT)', 'Netherlands (NED) [Z]', 'Norway (NOR) [Q]', 'Poland (POL)', 'Russia (RUS) [RUS]', 'Soviet Union (URS) [URS]', 'Unified Team (EUN) [EUN]', 'Slovakia (SVK) [SVK]', 'Slovenia (SLO)', 'Sweden (SWE) [Z]', 'Switzerland (SUI)', 'Ukraine (UKR)', 'United States (USA) [P] [Q] [R] [Z]', 'Yugoslavia (YUG) [YUG]', 'Totals']