### Group members: Niharika Rasthapuram, Tyler Blankenship, Kao Takahama, Tyler Selby, Zach Seitz, Safal Lamichhane 

### Due Date: 3/26/23

### BL-Flicker-Images-Book.csv file

### 1) For the Title column, only keep the title part, remove all of the other parts. If the title is inside a bracket, remove the bracket which encloses the title. If there are multiple …, only keep the words before the first one. If there are multiple periods (.), only keep words before the first one.

The following shows the sample results after the cleaning for title column:
Walter Forbes. [A novel.] By A. A ---> Walter Forbes.<br>
Love the Avenger. By the author of â€œAll for Greed.â€• [The dedication signed: A. A. A., i.e.
Marie Pauline Rose, Baroness Blaze de Bury.] ---> Love the Avenger. <br>
[The World in which I live, and my place in it. By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ...
J. H. Broome.] ---> The World in which I live, and my place in it.<br>
A Satyr against Vertue. (A poem: supposed to be spoken by a Town-Hector. [By John Oldham.
The preface signed: T. A.]) ---> A Satyr against Vertue.<br>
An Account of the many and great Loans, Benefactions and Charities, belonging to the City of
Coventry ... A new edition. [The dedication signed: AB, CD, EF, GH, &c. By Edward Jackson and
Samuel Carte.] ---> An Account of the many and great Loans, Benefactions and Charities,
belonging to the City of Coventry ...<br>

In [32]:
import pandas as pd

df = pd.read_csv('BL-Flickr-Images-Book.csv')

titles = df['Title']

# Create a capture group (the outside parentheses) to
# Match as many alphanumeric characters as possible (\w*) 
# Followed by any amount of whitespace (\s*)
# Followed by as many alphanumeric characters as possible (\w*) 
# Followed by as many commas as possible (,*)
# This matches the entire title, indcluding spaces and commas, 
# but without including any other punctuation or any words that follow punctuation
pattern = r'([\w*\s*\w*,*]*)'

titles = titles.str.extract(pattern)
titles

                                                      0
0                                         Walter Forbes
1                                         All for Greed
2                                      Love the Avenger
3     Welsh Sketches, chiefly ecclesiastical, to the...
4
...                                                 ...
8282    The Parochial History of Cornwall, founded on,
8283   The History and Gazetteer of the County of Derby
8284                                    Magna Britannia
8285  An historical, topographical and descriptive v...
8286            Collectanea Topographica et Genealogica

[8287 rows x 1 columns]

### 2) For the Author and Contributors columns, only keep the first author, remove all of the other parts. If the author or the contributor has other auxiliary information, remove them. title is inside a bracket, remove the bracket which encloses the title. If there are multiple …, only keep the words before the first one. If there are multiple periods (.), only keep words before the first one. For all of the names, they should only have the first letter of the first, middle and last names be capital letter, all of the remaining letters should be small case. 

The following shows the sample results after the cleaning for title column:<br>
Author<br>
A., J.|A., J. -> A., J. <br>
AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oronzo Mariano Raffaele Francesco Fortunato Felice
de Simone.] -> Aar, Ermanno <br>
Contributors:<br>
CARTE, Samuel.|JACKSON, Edward - Rector of Southam, and CARTE (Samuel) -> Carte, Samuel. <br>
After cleaning the above columns, save the cleaned data back into a new .csv file.

### olympics.csv file

### 3) Drop all of the countries which don’t have gold medals, and save the cleaned one back into a new .csv file.

### 4) Output the top five gold medal countries.

### 5) Output the countries that have all three kinds of medals for both summer and winter games. You may use previous unit learned concepts on multi-level indexing, pivoting, stacking to rearrange the original .csv file to convert summer and winter as secondary level index within the country index, and then generate a new .csv file which will have country as the primary index, then summer and winter as secondary index, and columns of gold, silver and bronze medals.